<h1><span class="glyphicon glyphicon-chevron-right"></span> Education Backgounds</h1><hr>
	<table class="table table-striped " style="font-size: 1.4em;">
      <thead>
        <tr>
          <th>#</th>
          <th>Degree Achieved</th>
          <th>School of Achievement</th>
          <th>Year of Achievement</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Bachelor of Engineering (major in Software engineering)</td>
          <td>Faculty of engineering and Technology of the University of Buea</td>
          <td>2015(expected graduation year)</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Baccalaureat F4 B-A</td>
          <td>Lycee Technique of Dschang</td>
          <td>2009</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Probatoire F4 B-A</td>
          <td>Lycee Technique of Dschang</td>
          <td>2008</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>BEPC</td>
          <td>Lycee Bilingue of Dschang</td>
          <td>2006</td>
        </tr>
      </tbody>
    </table>
<hr>
<div style="padding: 0 40px 40px 40px">
<h3>Completed online courses</h3>
<p>Completed AngularJS course on <a target="_blank"href="http://www.codecademy.com/" style="color: #2CB2BC;">codecademy </a>website</p>
<h3>Online Certificates</h3>
<p>Google for Education</p>
</div>