<div class="col-md-8" >
	<h1><span class="glyphicon glyphicon-chevron-right"></span> Personal inforamtions</h1><hr>
	<div class="row">
  		<div class="col-md-4"><h3>First Name <span class="pull-right">:</span></h3></div>
  		<div class="col-md-8"><p style="font-size:1.2em">Kamdjou Temfack</p></div>
	</div>
	<br />
	<div class="row">
	  	<div class="col-md-4"><h3>last Name <span class="pull-right">:</span></h3></div>
	  	<div class="col-md-8"><p style="font-size:1.2em">Duplex Marie</p></div>
	</div>
	<br />
	<div class="row">
  		<div class="col-md-4"><h3>Nick Name <span class="pull-right">:</span></h3></div>
  		<div class="col-md-8"><p style="font-size:1.2em;">JS_man</p></div>
	</div>
	<br />
	<div class="row">
  		<div class="col-md-4"><h3>Email Address <span class="pull-right">:</span></h3></div>
  		<div class="col-md-8">
  			<p style="font-size:1.2em">
  				<a href="mailto:tony14pro@gmail.com" style="color: #2CB2BC;">tony14pro@gmail.com</a> /  
  				<a href="mailto:kamdjouduplex@outlook.com" style="color: #2CB2BC;">kamdjouduplex@outlook.com</a>
			</p>
		</div>
	</div>
	<br />
	<div class="row">
  		<div class="col-md-4"><h3>Home Address <span class="pull-right">:</span></h3></div>
  		<div class="col-md-8"><p style="font-size:1.2em">P.O.Box 202, Fakoship plaza, shop 4</p></div>
	</div>
	<br />
	<div class="row">
  		<div class="col-md-4"><h3>Country <span class="pull-right">:</span></h3></div>
  		<div class="col-md-8"><p style="font-size:1.2em">Cameroon</p></div>
	</div>
	<br />
	<div class="row">
  		<div class="col-md-4"><h3>Phone <span class="pull-right">:</span></h3></div>
  		<div class="col-md-8"><p style="font-size:1.2em">+237 70274538/95888613</p></div>
	</div>
	<br />
	<div class="row">
  		<div class="col-md-4"><h3>Status <span class="pull-right">:</span></h3></div>
  		<div class="col-md-8"><p style="font-size:1.2em">Single</p></div>
	</div>
	<br />
	<div class="row">
  		<div class="col-md-4"><h3>Profession <span class="pull-right">:</span></h3></div>
  		<div class="col-md-8"><p style="font-size:1.2em">Student (major software engineer)</p></div>
	</div>
	<br />
</div>

<div class="col-md-4">
	<h1><span class="glyphicon glyphicon-map-marker"></span> Geolocation</h1>
	<hr>
	<div>
	<img data-src="holder.js/240x240" class="img-rounded" alt="140x140" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ1LjUiIHk9IjcwIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTQweDE0MDwvdGV4dD48L2c+PC9zdmc+" data-holder-rendered="true" style="width: 300px; height: 300px;">	
	</div>
</div>