<h1><span class="glyphicon glyphicon-chevron-right"></span> Professional Experiences</h1><hr>
<div style="font-size: 1.4em; padding: 0 40px 40px 40px">
	<h3>1. Yopevent for yopisode inc,</h3>
	<p>Worked as a fornt end backend web developer on a real-time events mangement system. </p>
	<p><b>Technologies:</b> Html5, Css3, Bootstrap, AngularJS, jquery, Facebook API, git/github, asana and Firebase for the backend</p>
	<h3>2. Wasamundi mobile app</h3>
	<p>Wasamundi is a local businesses(restaurants, schools, shopings, hotels, hostels) software assistant.</p>
	<p><b>Technologies:</b> html5, css3, Javascript, WinJS, wasamundi api, jquery mobile UI, github, windows 8</p>
	<h3>3. Yatoo</h3>
	<p>Yatoo is a windows 8 mobile app for a internet vervice provider in Congo</p>
	<p><b>Technologies:</b> html5, css3, Javascript, WinJS, Parse.com ,jquery mobile UI, github, windows 8</p>
	<h3>4. Tech-Biz</h3>
	<p>Tech-Biz is a professional web app that links bisiness people and their workers</p>
	<p><b>Technologies:</b> Google AppEngine, JavaEE, Datastore, BlodStore, HTML5, CSS3, Bootstrap,Javascript, google API and git/github</p>
	<h3>5. May Classes and Personal Projects</h3>
	<p>As student a have handle many projects desktop and web as assignment in the class and also some of my personal projects as well</p>
	<p><b>Technologies:</b> Java, SQL, postgreSQL, Synfony 2, php, C, C++, QT library, Python, AngularJS, Ionic, Firebase, Java android etc</p>
	
	<hr>
	<p>visite my github <a href="https://github.com/kamdjouduplex/" style="color: #2CB2BC;">ropository</a> for more detail</p>
</div>