<h1><span class="glyphicon glyphicon-chevron-right"></span> Education Backgounds</h1><hr>
<div style="font-size: 1.4em; padding: 0 40px 40px 40px">
	<h3>Programming Language Experiences</h3>
	<p>HTML5, CSS3, JavaScript, php, C, C++, JavaEE, AppEngine, Python and xml</p>
	<h3>Framework Experiences</h3>
	<p>AngularJS, Bootstrap, Synfony2, Django web framework</p>
	<h3>Database Experiences</h3>
	<p>MySQL, PostgreSQL, Firebase and SQLite</p>
	<h3>Version Control and Project Management Experinces</h3>
	<p>git/github and asana(for task planing and sharing)</p>
	<h3>Mobile Development Experinces</h3>
	<p>Windows 8 and Android app development using html5, AngularJs, Ionic and Cordova</p>
	<h3>Graphics and Drawing</h3>
	<p>Photoshop, Autocad and Archicad </p>
	<h3>Operating Systems and IDE</h3>
	<p> Windows xp, 7, 8, 10 and vista,  Linux Mint, Ubuntu and familiarized with IDE such as: 
	Eclipse, Visual Studio and PythonCham</p>
	<h3>Network Experiences</h3>
	<p>Implementation and configuration of wired and wiless network for homes and small companies </p>
</div>